<%- include("header.ejs") %>
    <main>
        <h1>Erreur 404 Not Found</h1>
        <p>
            <%= error %>
        </p>
        <a href="/">Retour à l'accueil</a>
    </main>
    <%- include("footer.ejs") %>